.navigation-bar{
  position: fixed;
  right: 0px;
  top: 50px;
  left: 222px;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  white-space: nowrap;
  z-index: 99;
}
.navigation-button,
.navigation-button-1{
  padding: 7px 12px 7px 12px;
  margin-right: 6px;
  border-radius: 10px;
  border: none;
  background-color: rgb(247, 247, 247);
  font-size: 14px;
  font-family: Roboto, Arial;
  font-weight: 500;
  color: rgb(108, 108, 108);

  transition: background-color 0.3s;
}
.navigation-button:hover{
  color: rgb(247, 247, 247);
  background-color: rgb(72, 72, 72);
  cursor: pointer;
}